html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles*/
 body{
  width: 700px;
  margin: 80px 0px 450px 400px;
}
p:first-of-type {
	margin-bottom: 32px;
	font-size: 22px;
  font-weight: 300;
  font-family: 'PT Sans Caption', sans-serif;
  color: gray;
  opacity: 0.9;
  line-height: 32px
}
h1 {
	margin-top: 16px;
  font-size:40px;
	font-weight: bold;
	font-family: 'PT Sans Caption', sans-serif;
  line-height: 46px;
}
h1 + p {
	margin-top: 14px;
	font-size: 22px;
	line-height: 32px;
}
h2 {
	margin-top: 43px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
	line-height: 36px;
}
h3{
	margin-top: 36px;
	margin-bottom: 28px;
  font-size: 28px;
	font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
	line-height: 34px;
}
h3 + p {
	margin-top: 6px;
}
ul {
	list-style: circle;
	list-style-type: decimal-leading-zero;
  margin-bottom: 20px;
  font-size:22px;
  font-family: 'PT Sans', sans-serif;

}
p,blockquote {
	font-size: 22px;
	line-height: 34px;
}
a {
color:inherit;
}
p + p {
margin-bottom: 52px;
}
blockquote {
	margin-top: 52px;
	margin-left: -17px;
	padding-left: 17px;
	font-style: italic;
  border-left: 3px solid;
	border-spacing: 17px;
}
