html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles*/
 body{
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 700px;
  margin: 68px 0px 300px 370px;


}
p:first-of-type{
  color: gray;
  opacity: 0.9;
  line-height: 32px;
  font-size: 22px;
  font-weight: light;
  font-family: 'PT Sans Caption', sans-serif;
  letter-spacing: 0.005px;
  margin-bottom: 29px;
}
h1{
  font-size: 40px;font-family: 'PT Sans Caption', Sans;
  font-weight: bold;
  margin-bottom: 4.7px;
}
h2{margin-top: 48px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}
h3{margin-top: 28px;
  font-size: 28px;
  font-weight: 600;
  font-family: 'PT Sans Caption', sans-serif;
	font-style: italic;
}
ul{
	list-style: circle;
	list-style-type: decimal-leading-zero;
	margin-top: 10px;
  margin-bottom: 10px;
  font-size:22px;
  font-family: 'PT Sans', sans-serif;

}

p{
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.005px;
  line-height: 32px;
}
